<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Understanding Bootstrapping</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="Vendor/angular.min.js"></script>
</head>
<body ng-app="twitterApp">
 <div class="container">
        <input type="text" class="form-control col-xs-3" ng-model="searchCriteria">
         <table class="table" ng-controller="editProfileCtrl">
         <thead>
         <tr>
             <th>Row</th>
             <th><a href="#">First Name</a></th>
             <th>Last Name</th>
             <th>Date of Birth</th>
             <th>Location</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="item in users|filter: searchCriteria|orderBy:'-lastName'"
             >
             <td>{{$index+1}}</td>
             <td>{{item.firstName}}</td>
             <td>{{item.lastName}}</td>
             <td>{{item.dob|date: 'MMM-dd-yyyy'}}</td>
             <td >
                 <label ng-click="item.isEdit=!item.isEdit" ng-bind="item.phone" ng-show="!item.isEdit"></label>
                 <input type="text" ng-model="item.phone" ng-show="item.isEdit"></td>
             <td>{{item.location | uppercase}}</td>
             <td><button class="btn btn-primary" ng-click="edit(item)"    >Edit</button></td>
         </tr>
         </tbody>
     </table>

     <div>
         <table class="table" ng-controller="userCtrl">
             <thead>
             <tr>
                 <th>Row</th>
                 <th><a href="#">First Name</a></th>
                 <th>Last Name</th>
                 <th>Date of Birth</th>
                 <th>Location</th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="item in users|filter: searchCriteria|orderBy:'-lastName'">

                 <td>{{$index+1}}</td>
                 <td>{{item.firstName}}</td>
                 <td>{{item.lastName}}</td>
                 <td>{{item.dob|date: 'MMM-dd-yyyy'}}</td>
                 <td ng-click="item.isEdit=!item.isEdit">
                     <label ng-bind="item.phone" ></label>
                 <td>{{item.location | uppercase}}</td>

             </tr>
             </tbody>
         </table>
     </div>
 </div>
<script src="app/app.js"></script>
 <script src="app/filters/phoneFormat.js"></script>
 <script src="app/factories/userDataFactory.js"></script>
<script src="app/controllers/userCtrl.js"></script>
<script src="app/controllers/editProfileCtrl.js"></script>
</body>
</html>