<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Introduction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="angular.min.js"></script>
</head>
<body ng-app="eMovies">

<div ng-controller="moviesCtrl">
    <div class="form-horizontal col-xs-3">
        <select class="form-control"
                ng-model="selectedCity"
                ng-change="loadMovie()"
                ng-options="item.cityName for item in cities">
            <option value="">Please Select</option>
        </select>
        <pre>{{selectedCity|json}}</pre>
    </div>

    <div>
        <input type="text" ng-model="searchCriteria"/>
    </div>
    <table class="table table-hover" >
        <thead>
        <tr>
            <th>S.No</th>
            <th>Movie</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movie in movies|filter:searchCriteria">
            <td>{{$index+1}}</td>
            <td>{{movie.language}}</td>
            <td>{{movie.movieName}}</td>
            <td>
                <button ng-click="showDetails(movie)">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <p>
            <img src="{{selectedMovie.src}}" alt="images">
            <h3>{{selectedMovie.mveDescription}}</h3>
        </p>
    </div>

    <!--Description should go here-->
</div>

<script src="main.js"></script>
<script src="registerCtrl.js"></script>
<script src="moviesCtrl.js"></script>
</body>
</html>