<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Introduction</title>
    <script src="Vendor/angular.min.js"></script>
</head>
<body ng-app="eMovies">
    <div ng-controller="registerCtrl">
        <h1>First Name:<input ng-model="firstName"/></h1>
        <h1>Last Name:  <input ng-model="lastName"></h1>
        <h1 ng-show="showFullName">Full Name:  {{firstName + lastName}}</h1>
        <input ng-click="clickButton()">Click Me</input>
    </div>

<script src="app/main.js"></script>
<script src="app/controllers/registerCtrl.js"></script>
</body>
</html>